name: PR Mirror and Repo Sync
on:
  pull_request_target:
      types:
        - closed
      branches:
        - current

permissions:
  pull-requests: write
  contents: write
  issues: write

jobs:
  call-pr-mirror-repo-sync:
    if: github.repository_owner == 'vyos' && github.event.pull_request.merged == true
    uses: vyos/.github/.github/workflows/pr-mirror-repo-sync.yml@current
    secrets: inherit
