name: PR Mirror and Repo Sync
on:
  pull_request_target:
      types:
        - closed
      branches:
        - current
  workflow_dispatch:
    inputs:
      sync_branch:
        description: 'branch to sync'
        required: false
        type: string
        default: 'current'
permissions:
  pull-requests: write
  contents: write
  issues: write
jobs:
  call-mirror-pr-repo-sync:
    if: github.repository_owner == 'vyos' && github.event.pull_request.merged == true
    uses: vyos/.github/.github/workflows/pr-mirror-repo-sync.yml@current
    with:
      sync_branch: ${{ inputs.sync_branch }}
    secrets:
      PAT: ${{ secrets.PAT }}
      REMOTE_OWNER: ${{ secrets.REMOTE_OWNER }}
      REMOTE_REPO: ${{ secrets.REMOTE_REPO }}