name: Check Python code

on: [push, pull_request]

jobs:
  python_check:
    name: Check Python code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black
          pip install ruff
      - name: Analysing the code with black
        run: |
          black --check --skip-string-normalization $(git ls-files '*.py')
      - name: Analysing the code with ruff
        run: |
          ruff check $(git ls-files '*.py')
